<div class="container mt-4">
  <h2>Pieces Management</h2>
  <button *ngIf="isAdmin()" class="btn btn-primary mb-3" (click)="createPiece()">Create Piece</button>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Floor</th>
      <th>owners</th>
      <th>Devices</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let piece of pieces">
      <td>{{ piece.name }}</td>
      <td>{{ piece.type }}</td>
      <td>{{ piece.floor }}</td>
      <td>
        <ul *ngIf="piece.users && piece.users.length> 0; else noPieces">
          <li *ngFor="let user of piece.users"> {{ user.username }}  </li>
        </ul>
        <ng-template #noPieces>
          <span>No pieces associated</span>
        </ng-template>
      </td>
      <td>
        <ul *ngIf="piece.devices && piece.devices.length> 0; else noPieces">
          <li *ngFor="let device of piece.devices"> {{ device.name }}  </li>
        </ul>
        <ng-template #noPieces>
          <span>no Devices associated</span>
        </ng-template>
      </td>
      <td>
        <button *ngIf="isAdmin()" class="btn btn-sm btn-warning me-2" (click)="editPiece(piece._id)">Edit</button>
        <button *ngIf="isAdmin()" class="btn btn-sm btn-danger" (click)="deletePiece(piece._id)">Delete</button>
      </td>
    </tr>
    <tr *ngIf="pieces.length === 0">
      <td colspan="4" class="text-center">No Pieces</td>
    </tr>
    </tbody>
  </table>
</div>
