<div class="container mt-4">
  <h2>Device Management</h2>
  <button *ngIf="isAdmin()|| isTechnician()" class="btn btn-primary mb-3" (click)="createDevice()">Create Device</button>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Associated Room</th>
      <th>Status</th>
      <th>Consumption (kWh)</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Device list -->
    <tr *ngFor="let device of devices">
      <td>{{ device.name }}</td>
      <td>{{ device.type }}</td>
      <td>
        {{ device.room ? device.room.name : 'No associated room' }}
      </td>
      <td>{{ device.status === 'on' ? 'On' : 'Off' }}</td>
      <td>{{ device.consumption.toFixed(2) }}</td>
      <td>
        <!-- Actions -->
        <div class="d-flex gap-2">
          <button
            *ngIf="device.status === 'off'"
            class="btn btn-success btn-sm"
            (click)="turnOnDevice(device._id)"
          >
            Turn On
          </button>
          <button
            *ngIf="device.status === 'on'"
            class="btn btn-warning btn-sm"
            (click)="turnOffDevice(device._id)"
          >
            Turn Off
          </button>
          <button *ngIf="isAdmin()|| isTechnician()"
            class="btn btn-primary btn-sm"
            (click)="editDevice(device._id)"
          >
            Edit
          </button>
          <button *ngIf="isAdmin()|| isTechnician()"
            class="btn btn-danger btn-sm"
            (click)="deleteDevice(device._id)"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
    <!-- Message if no devices are found -->
    <tr *ngIf="devices.length === 0">
      <td colspan="6" class="text-center text-muted">No devices found.</td>
    </tr>
    </tbody>
  </table>
</div>
